body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/shapes/background.jpg);
    background-repeat: no-repeat;
    background-size: 80px;
    margin: 0;
}

.mission-2022 {
    display: flex;
    margin-bottom: 0;


}

.devidation {
    width: 25%;

}

.devidation img {
    width: 40%;
}

#bg-color-1 {
    background-color: #EDF5F6;
    border-radius: 25PX;
    margin-left: 150px;


}

.sub-heading {
    font-size: 40px;
    font-weight: bold;

    text-align: center;
}

.button {
    padding: 7px 15px;
    text-decoration: none;
    border: 2px solid #FF5959;
    border-radius: 5px;
    background-color: #FF5959;
    color: white;



}